.add-btn {
  @media (min-width: 400px) {
    position: absolute;
    right: 36px;
    margin-top: 21px;
    z-index: 10;
  }
}

.back-btn {
  position: absolute;
  right: 20px;
  margin-top: -48px;
}


.main-title {
  font-size: 35px;
  line-height: 5rem;
  margin-bottom: 3rem;
  font-weight: 900;
}

.slider-container {
  position: relative;
  margin-top: 183px; /* Ensure it doesn't overlap with the fixed header */
  overflow: hidden;
  background: #ffffff;
  padding: 20px 0;

  img{
    height: 500px !important;
    max-height: 500px !important;
  }

  .owl-stage-outer .owl-stage {
    width: 13000px !important;

    .owl-item {
      width: 700px !important;
      object-fit: cover !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .de-padding {
    padding: 12rem 0 !important;
  }
}

.rev-content {
  background: #ffffff;
  border: 1px solid #1a5238;
  .rev-desc {
    blockquote {
      color: black;
    }
  }
}

.rev-content {
  .rev-desc {
    .rev-bio {
      .rev-txt {
          h4, span {
            color: #0c0c0c;
          }
      }
    }
  }
}

.small-rounded-img {
    object-fit: cover;
    border-radius: 40px;
    height: 50px;
    width: 50px;
}
